[Unit]
Description=mleds daemon

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/mleds --verbose server

[Install]
WantedBy=default.target

